.auth__main {
    display: flex;
    justify-content: center;
    align-items: center;
    background: $primary;
    height: 100vh;
}
.auth__box-container {
    background: white;
    box-shadow: 3px 3px 3px $dark-grey;
    border-radius: 2px;
    padding: 20px;
    width: 280px;
}
.auth__title{
    color:darken($color:$primary,$amount:20);
}
.auth_input{
    color:$dark-grey;
    border:0;
    border-bottom: 1px solid $light-grey;
    font-size: 16px;
    margin-bottom: 20px;
    height: 20px;
    width: 100%;
    transition: border-bottom .5s;
    &:focus{
        outline:none;
        border-bottom: 1px solid $primary;
    }
}
.auth__social-network{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 0;
    width: 100%;
}
.auth__alert-error{
    display:flex;
    justify-content: center;
    // align-items: center;
    padding: 10px;
    margin-bottom: 20px;
    background:  lighten($color:$danger,$amount:40);;
    border-radius: 5px;
    color: $danger;
}