.preloader_main{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0,.3);
    z-index: 1000;
    font-size: 50px;
    color: white;
}