body{
    padding:50px;
}
.form-group{
    margin-bottom: 5px;
}
.text-right{
    text-align: right;
}

.form-control{
    margin-bottom: 10px;
}
button{
    margin: 3px;;
}
.todo-li{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.todo-li.complete span{
    text-decoration: line-through;
}